html{
	width: 100%;
	background: #f9fbe7 url(img/pattern.png) repeat;
	font: 1em 'Fira Sans', sans-serif;
	color: #424242;
}

body {
	margin: -1px auto;
	width: 100%;
	max-width: 1200px;
	background: #fff;
	padding-top: 1px;
}

p {
	padding: 5px 40px;
	margin: 0;
}

a {
	text-decoration: none;
	color: #ff0037;
}

header {
	padding-top: 10px;
	border-bottom: 1px solid #ff0037;
}

header ul {
	margin: 0;
}

footer {
	border-top: 1px solid #ff0037;
}

#logo {
	display: block;
	margin: 30px auto;
	width: 200px;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 10px 20px;
}

.gallery_wrapper {
	height: 400px;
	overflow: hidden;
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery img {

}

.events {
	text-align: center;
	margin-top: 40px;
	clear: left;
}

h3 {
	color: #aeea00;
	text-transform: uppercase;
}

.events a {
	text-transform: uppercase;
	text-decoration: none;
	color: #ff0037;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
}
 
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

form {
	width: 480px;
	margin: 20px auto;
}

form .field {
	width: 100%;
	font-size: 1.2em;
	padding: 20px 0 0 0;
	margin-top: 5px;
	border: none;
	border-bottom: 1px solid #aeea00;
	font-family: 'Fira Sans', sans-serif;
}

form .field:focus {
	border-bottom: 1px solid #ff0037;
	outline:none;
}

.form_item {
	width: 80%;
	margin: 15px auto;
}

form button {
	display: block;
	box-sizing: content-box;
	margin: 0 auto;
	background: #aeea00;
	color: #ff0037;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-variant: small-caps;
	font-weight: bold;
}

form button:hover {
	background: #fff;
	color: #ff0037;
}

form button:active {
	border: 1px solid grey;
	box-shadow: inset 0 0 15px rgba(0,0,0,0.3)
}

::-webkit-input-placeholder {
  color: #aeea00;
  font: 1em light 'Fira Sans', sans-serif;
  padding-left: 10px;
  padding-bottom: 10px;
}

form .field:focus::-webkit-input-placeholder {
  color: #ff0037;
  opacity: 0.2;
  padding-left: 10px;
}

#map {
	width: 100%;
	height: 300px;
}
